@model Skill
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>Yetenek Ekleme Sayfası</h1>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Yetenekler</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Yeni Yetenek Bilgisi Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label> Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Derece</label>
                            <input type="text" asp-for="SkillValue" class="form-control" />
                            <br />
                            <button class="btn btn-outline-primary">Yeteneği  Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
